In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [2]:
brown_labour_force = pd.read_excel('brown_labour_force.xlsx')
brown_labour_force.head()

,Sigla,Código,Estado,2012 T1,2012 T2,2012 T3,2012 T4,2013 T1,2013 T2,2013 T3,...,2019 T4,2020 T1,2022 T2,2022 T3,2022 T4,2023 T1,2023 T2,2023 T3,2023 T4,2024 T1
0,AC,12,Acre,71.3,73.6,74.3,72.9,74.4,76.9,74.0,...,75.3,76.1,71.8,72.5,72.0,71.7,73.2,71.9,70.5,70.1
1,AL,27,Alagoas,68.6,72.0,74.6,75.0,74.5,75.0,70.7,...,67.1,67.8,62.1,63.9,63.1,62.1,62.5,62.6,62.4,62.3
2,AM,13,Amazonas,72.2,75.3,78.2,78.7,79.4,78.1,78.1,...,78.3,80.8,75.6,74.7,74.3,74.3,75.5,74.7,73.8,73.6
3,AP,16,Amapá,70.8,78.1,80.5,74.0,73.9,71.7,64.3,...,75.9,77.1,70.3,70.0,70.0,68.6,69.0,68.7,68.4,67.0
4,BA,29,Bahia,59.5,60.8,60.8,62.2,63.5,63.2,62.6,...,56.4,56.8,55.9,53.9,53.7,54.5,55.0,55.0,54.5,54.6

In [3]:
brown_labour_force.to_csv('brown_labour_force_excel.csv')

In [4]:
brown_labour_force.columns

Index(['Sigla', 'Código', 'Estado', '2012 T1', '2012 T2', '2012 T3', '2012 T4',
       '2013 T1', '2013 T2', '2013 T3', '2013 T4', '2014 T1', '2014 T2',
       '2014 T3', '2014 T4', '2015 T1', '2015 T2', '2015 T3', '2015 T4',
       '2016 T1', '2016 T2', '2016 T3', '2016 T4', '2017 T1', '2017 T2',
       '2017 T3', '2017 T4', '2018 T1', '2018 T2', '2018 T3', '2018 T4',
       '2019 T1', '2019 T2', '2019 T3', '2019 T4', '2020 T1', '2022 T2',
       '2022 T3', '2022 T4', '2023 T1', '2023 T2', '2023 T3', '2023 T4',
       '2024 T1'],
      dtype='object')

In [5]:
colunas_2012 = ['2012 T1','2012 T2','2012 T3','2012 T4']
colunas_2013 = ['2013 T1','2013 T2','2013 T3','2013 T4']
colunas_2014 = ['2014 T1','2014 T2','2014 T3','2014 T4']
colunas_2015 = ['2015 T1','2015 T2','2015 T3','2015 T4']
colunas_2016 = ['2016 T1','2016 T2','2016 T3','2016 T4']
colunas_2017 = ['2017 T1','2017 T2','2017 T3','2017 T4']
colunas_2018 = ['2018 T1','2018 T2','2018 T3','2018 T4']
colunas_2019 = ['2019 T1','2019 T2','2019 T3','2019 T4']
colunas_2020 = ['2020 T1']
colunas_2022 = ['2022 T2','2022 T3','2022 T4']
colunas_2023 = ['2023 T1','2023 T2','2023 T3','2023 T4']
colunas_2024 = ['2024 T1']

brown_labour_force['2012'] = brown_labour_force[colunas_2012].mean(axis=1)
brown_labour_force['2013'] = brown_labour_force[colunas_2013].mean(axis=1)
brown_labour_force['2014'] = brown_labour_force[colunas_2014].mean(axis=1)
brown_labour_force['2015'] = brown_labour_force[colunas_2015].mean(axis=1)
brown_labour_force['2016'] = brown_labour_force[colunas_2016].mean(axis=1)
brown_labour_force['2017'] = brown_labour_force[colunas_2017].mean(axis=1)
brown_labour_force['2018'] = brown_labour_force[colunas_2018].mean(axis=1)
brown_labour_force['2019'] = brown_labour_force[colunas_2019].mean(axis=1)
brown_labour_force['2020'] = brown_labour_force[colunas_2020].mean(axis=1)
brown_labour_force['2022'] = brown_labour_force[colunas_2022].mean(axis=1)
brown_labour_force['2023'] = brown_labour_force[colunas_2023].mean(axis=1)
brown_labour_force['2024'] = brown_labour_force[colunas_2024].mean(axis=1)

In [6]:
brown_labour_force.head()

,Sigla,Código,Estado,2012 T1,2012 T2,2012 T3,2012 T4,2013 T1,2013 T2,2013 T3,...,2014,2015,2016,2017,2018,2019,2020,2022,2023,2024
0,AC,12,Acre,71.3,73.6,74.3,72.9,74.4,76.9,74.0,...,78.875,78.525,76.375,74.925,73.625,74.550,76.1,72.100000,71.825,70.1
1,AL,27,Alagoas,68.6,72.0,74.6,75.0,74.5,75.0,70.7,...,71.300,71.350,69.350,70.025,68.175,68.175,67.8,63.033333,62.400,62.3
2,AM,13,Amazonas,72.2,75.3,78.2,78.7,79.4,78.1,78.1,...,80.300,80.575,78.875,78.925,78.675,78.000,80.8,74.866667,74.575,73.6
3,AP,16,Amapá,70.8,78.1,80.5,74.0,73.9,71.7,64.3,...,63.525,65.825,70.000,73.475,74.275,75.300,77.1,70.100000,68.675,67.0
4,BA,29,Bahia,59.5,60.8,60.8,62.2,63.5,63.2,62.6,...,61.050,59.550,60.000,58.275,56.950,56.600,56.8,54.500000,54.750,54.6

In [7]:
brown_labour_force = brown_labour_force[['Código', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2022', '2023', '2024']]

In [8]:
brown_labour_force.head()

,Código,2012,2013,2014,2015,2016,2017,2018,2019,2020,2022,2023,2024
0,12,73.025,75.050,78.875,78.525,76.375,74.925,73.625,74.550,76.1,72.100000,71.825,70.1
1,27,72.550,72.550,71.300,71.350,69.350,70.025,68.175,68.175,67.8,63.033333,62.400,62.3
2,13,76.100,78.475,80.300,80.575,78.875,78.925,78.675,78.000,80.8,74.866667,74.575,73.6
3,16,75.850,69.075,63.525,65.825,70.000,73.475,74.275,75.300,77.1,70.100000,68.675,67.0
4,29,60.825,62.950,61.050,59.550,60.000,58.275,56.950,56.600,56.8,54.500000,54.750,54.6

In [9]:
brown_labour_force_T = brown_labour_force.T
print(brown_labour_force_T)

            0          1          2       3       4          5       6   \
Código  12.000  27.000000  13.000000  16.000  29.000  23.000000  53.000
2012    73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2013    75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
2014    78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
2015    78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
2016    76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
2017    74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
2018    73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
2019    74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
2020    76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
2022    72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
2023    71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
2024    70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

            7          8       9   ...         17         18         19  \
Código  32.000  52.000000  21.000  ...  41.000000  33.000000  24.000000
2012    48.200  57.600000  70.600  ...  24.450000  39.400000  59.100000
2013    51.700  59.100000  70.775  ...  26.400000  41.600000  59.400000
2014    51.725  57.275000  73.925  ...  25.800000  42.375000  57.800000
2015    51.175  56.625000  72.625  ...  25.825000  42.775000  55.700000
2016    50.050  57.975000  69.100  ...  26.925000  42.250000  57.050000
2017    49.300  56.250000  68.800  ...  27.550000  42.975000  57.125000
2018    49.825  55.100000  67.200  ...  28.900000  41.500000  56.450000
2019    50.750  56.150000  66.825  ...  30.625000  40.850000  53.675000
2020    50.900  57.700000  67.300  ...  30.200000  40.600000  53.900000
2022    49.200  54.233333  64.700  ...  30.833333  36.933333  54.166667
2023    49.125  54.325000  64.300  ...  30.325000  36.550000  53.575000
2024    48.600  53.700000  65.200  ...  31.300000  37.400000  51.900000

               20      21         22         23         24         25      26
Código  11.000000  14.000  43.000000  42.000000  28.000000  35.000000  17.000
2012    58.400000  70.725   9.650000   9.900000  68.000000  28.650000  68.000
2013    61.575000  66.475   9.475000  10.300000  67.875000  28.475000  71.725
2014    66.025000  67.950   9.625000   9.350000  70.325000  28.250000  70.225
2015    64.150000  66.600  10.800000   9.850000  71.100000  29.300000  67.600
2016    61.825000  64.775  12.000000  11.550000  70.850000  29.650000  66.775
2017    61.350000  63.475  13.150000  13.875000  71.650000  31.500000  65.400
2018    62.800000  63.400  13.150000  15.650000  70.325000  33.075000  64.825
2019    62.200000  63.075  13.400000  15.650000  69.175000  32.925000  65.525
2020    62.900000  66.300  12.700000  15.800000  70.300000  32.000000  66.500
2022    60.033333  67.600  14.033333  17.066667  60.766667  32.333333  63.000
2023    61.475000  64.975  15.250000  18.400000  61.900000  32.350000  63.150
2024    63.400000  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[13 rows x 27 columns]

In [10]:
brown_labour_force_T = brown_labour_force_T.reset_index()
print(brown_labour_force_T)

     index       0          1          2       3       4          5       6  \
0   Código  12.000  27.000000  13.000000  16.000  29.000  23.000000  53.000
1     2012  73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2     2013  75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
3     2014  78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
4     2015  78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
5     2016  76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
6     2017  74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
7     2018  73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
8     2019  74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
9     2020  76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
10    2022  72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
11    2023  71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
12    2024  70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

         7          8  ...         17         18         19         20  \
0   32.000  52.000000  ...  41.000000  33.000000  24.000000  11.000000
1   48.200  57.600000  ...  24.450000  39.400000  59.100000  58.400000
2   51.700  59.100000  ...  26.400000  41.600000  59.400000  61.575000
3   51.725  57.275000  ...  25.800000  42.375000  57.800000  66.025000
4   51.175  56.625000  ...  25.825000  42.775000  55.700000  64.150000
5   50.050  57.975000  ...  26.925000  42.250000  57.050000  61.825000
6   49.300  56.250000  ...  27.550000  42.975000  57.125000  61.350000
7   49.825  55.100000  ...  28.900000  41.500000  56.450000  62.800000
8   50.750  56.150000  ...  30.625000  40.850000  53.675000  62.200000
9   50.900  57.700000  ...  30.200000  40.600000  53.900000  62.900000
10  49.200  54.233333  ...  30.833333  36.933333  54.166667  60.033333
11  49.125  54.325000  ...  30.325000  36.550000  53.575000  61.475000
12  48.600  53.700000  ...  31.300000  37.400000  51.900000  63.400000

        21         22         23         24         25      26
0   14.000  43.000000  42.000000  28.000000  35.000000  17.000
1   70.725   9.650000   9.900000  68.000000  28.650000  68.000
2   66.475   9.475000  10.300000  67.875000  28.475000  71.725
3   67.950   9.625000   9.350000  70.325000  28.250000  70.225
4   66.600  10.800000   9.850000  71.100000  29.300000  67.600
5   64.775  12.000000  11.550000  70.850000  29.650000  66.775
6   63.475  13.150000  13.875000  71.650000  31.500000  65.400
7   63.400  13.150000  15.650000  70.325000  33.075000  64.825
8   63.075  13.400000  15.650000  69.175000  32.925000  65.525
9   66.300  12.700000  15.800000  70.300000  32.000000  66.500
10  67.600  14.033333  17.066667  60.766667  32.333333  63.000
11  64.975  15.250000  18.400000  61.900000  32.350000  63.150
12  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[13 rows x 28 columns]

In [11]:
new_columns_names = brown_labour_force_T.iloc[0].tolist()
new_columns_names= dict(zip(brown_labour_force_T.columns, new_columns_names))
brown_labour_force_T.rename(columns = new_columns_names, inplace=True)
print(brown_labour_force_T)

    Código    12.0       27.0       13.0    16.0    29.0       23.0    53.0  \
0   Código  12.000  27.000000  13.000000  16.000  29.000  23.000000  53.000
1     2012  73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2     2013  75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
3     2014  78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
4     2015  78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
5     2016  76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
6     2017  74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
7     2018  73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
8     2019  74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
9     2020  76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
10    2022  72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
11    2023  71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
12    2024  70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

      32.0       52.0  ...       41.0       33.0       24.0       11.0  \
0   32.000  52.000000  ...  41.000000  33.000000  24.000000  11.000000
1   48.200  57.600000  ...  24.450000  39.400000  59.100000  58.400000
2   51.700  59.100000  ...  26.400000  41.600000  59.400000  61.575000
3   51.725  57.275000  ...  25.800000  42.375000  57.800000  66.025000
4   51.175  56.625000  ...  25.825000  42.775000  55.700000  64.150000
5   50.050  57.975000  ...  26.925000  42.250000  57.050000  61.825000
6   49.300  56.250000  ...  27.550000  42.975000  57.125000  61.350000
7   49.825  55.100000  ...  28.900000  41.500000  56.450000  62.800000
8   50.750  56.150000  ...  30.625000  40.850000  53.675000  62.200000
9   50.900  57.700000  ...  30.200000  40.600000  53.900000  62.900000
10  49.200  54.233333  ...  30.833333  36.933333  54.166667  60.033333
11  49.125  54.325000  ...  30.325000  36.550000  53.575000  61.475000
12  48.600  53.700000  ...  31.300000  37.400000  51.900000  63.400000

      14.0       43.0       42.0       28.0       35.0    17.0
0   14.000  43.000000  42.000000  28.000000  35.000000  17.000
1   70.725   9.650000   9.900000  68.000000  28.650000  68.000
2   66.475   9.475000  10.300000  67.875000  28.475000  71.725
3   67.950   9.625000   9.350000  70.325000  28.250000  70.225
4   66.600  10.800000   9.850000  71.100000  29.300000  67.600
5   64.775  12.000000  11.550000  70.850000  29.650000  66.775
6   63.475  13.150000  13.875000  71.650000  31.500000  65.400
7   63.400  13.150000  15.650000  70.325000  33.075000  64.825
8   63.075  13.400000  15.650000  69.175000  32.925000  65.525
9   66.300  12.700000  15.800000  70.300000  32.000000  66.500
10  67.600  14.033333  17.066667  60.766667  32.333333  63.000
11  64.975  15.250000  18.400000  61.900000  32.350000  63.150
12  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[13 rows x 28 columns]

In [12]:
brown_labour_force_T = brown_labour_force_T.drop(index=0)
print(brown_labour_force_T)

   Código    12.0       27.0       13.0    16.0    29.0       23.0    53.0  \
1    2012  73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2    2013  75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
3    2014  78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
4    2015  78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
5    2016  76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
6    2017  74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
7    2018  73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
8    2019  74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
9    2020  76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
10   2022  72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
11   2023  71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
12   2024  70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

      32.0       52.0  ...       41.0       33.0       24.0       11.0  \
1   48.200  57.600000  ...  24.450000  39.400000  59.100000  58.400000
2   51.700  59.100000  ...  26.400000  41.600000  59.400000  61.575000
3   51.725  57.275000  ...  25.800000  42.375000  57.800000  66.025000
4   51.175  56.625000  ...  25.825000  42.775000  55.700000  64.150000
5   50.050  57.975000  ...  26.925000  42.250000  57.050000  61.825000
6   49.300  56.250000  ...  27.550000  42.975000  57.125000  61.350000
7   49.825  55.100000  ...  28.900000  41.500000  56.450000  62.800000
8   50.750  56.150000  ...  30.625000  40.850000  53.675000  62.200000
9   50.900  57.700000  ...  30.200000  40.600000  53.900000  62.900000
10  49.200  54.233333  ...  30.833333  36.933333  54.166667  60.033333
11  49.125  54.325000  ...  30.325000  36.550000  53.575000  61.475000
12  48.600  53.700000  ...  31.300000  37.400000  51.900000  63.400000

      14.0       43.0       42.0       28.0       35.0    17.0
1   70.725   9.650000   9.900000  68.000000  28.650000  68.000
2   66.475   9.475000  10.300000  67.875000  28.475000  71.725
3   67.950   9.625000   9.350000  70.325000  28.250000  70.225
4   66.600  10.800000   9.850000  71.100000  29.300000  67.600
5   64.775  12.000000  11.550000  70.850000  29.650000  66.775
6   63.475  13.150000  13.875000  71.650000  31.500000  65.400
7   63.400  13.150000  15.650000  70.325000  33.075000  64.825
8   63.075  13.400000  15.650000  69.175000  32.925000  65.525
9   66.300  12.700000  15.800000  70.300000  32.000000  66.500
10  67.600  14.033333  17.066667  60.766667  32.333333  63.000
11  64.975  15.250000  18.400000  61.900000  32.350000  63.150
12  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[12 rows x 28 columns]

In [13]:
brown_labour_force_T.rename(columns = {'Código' : 'time'}, inplace = True)
print(brown_labour_force_T)

    time    12.0       27.0       13.0    16.0    29.0       23.0    53.0  \
1   2012  73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2   2013  75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
3   2014  78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
4   2015  78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
5   2016  76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
6   2017  74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
7   2018  73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
8   2019  74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
9   2020  76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
10  2022  72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
11  2023  71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
12  2024  70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

      32.0       52.0  ...       41.0       33.0       24.0       11.0  \
1   48.200  57.600000  ...  24.450000  39.400000  59.100000  58.400000
2   51.700  59.100000  ...  26.400000  41.600000  59.400000  61.575000
3   51.725  57.275000  ...  25.800000  42.375000  57.800000  66.025000
4   51.175  56.625000  ...  25.825000  42.775000  55.700000  64.150000
5   50.050  57.975000  ...  26.925000  42.250000  57.050000  61.825000
6   49.300  56.250000  ...  27.550000  42.975000  57.125000  61.350000
7   49.825  55.100000  ...  28.900000  41.500000  56.450000  62.800000
8   50.750  56.150000  ...  30.625000  40.850000  53.675000  62.200000
9   50.900  57.700000  ...  30.200000  40.600000  53.900000  62.900000
10  49.200  54.233333  ...  30.833333  36.933333  54.166667  60.033333
11  49.125  54.325000  ...  30.325000  36.550000  53.575000  61.475000
12  48.600  53.700000  ...  31.300000  37.400000  51.900000  63.400000

      14.0       43.0       42.0       28.0       35.0    17.0
1   70.725   9.650000   9.900000  68.000000  28.650000  68.000
2   66.475   9.475000  10.300000  67.875000  28.475000  71.725
3   67.950   9.625000   9.350000  70.325000  28.250000  70.225
4   66.600  10.800000   9.850000  71.100000  29.300000  67.600
5   64.775  12.000000  11.550000  70.850000  29.650000  66.775
6   63.475  13.150000  13.875000  71.650000  31.500000  65.400
7   63.400  13.150000  15.650000  70.325000  33.075000  64.825
8   63.075  13.400000  15.650000  69.175000  32.925000  65.525
9   66.300  12.700000  15.800000  70.300000  32.000000  66.500
10  67.600  14.033333  17.066667  60.766667  32.333333  63.000
11  64.975  15.250000  18.400000  61.900000  32.350000  63.150
12  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[12 rows x 28 columns]

In [14]:
brown_labour_force_T.rename(columns = {12.0 : '12', 27.0 : '27', 13.0 : '13', 16.0 : '16', 29.0 : '29', 23.0 : '23', 53.0 : '53', 32.0 : '32', 52.0 : '52', 21.0 : '21', 31.0 : '31', 50.0 : '50', 51.0 : '51', 15.0 : '15', 25.0 : '25', 26.0 : '26', 22.0 : '22', 41.0 : '41', 33.0 : '33', 24.0 : '24', 11.0 : '11', 14.0 : '14', 43.0 : '43', 42.0 : '42', 28.0 : '28', 35.0 : '35', 17.0 : '17'}, inplace = True)
print(brown_labour_force_T)

    time      12         27         13      16      29         23      53  \
1   2012  73.025  72.550000  76.100000  75.850  60.825  68.250000  50.775
2   2013  75.050  72.550000  78.475000  69.075  62.950  69.675000  49.175
3   2014  78.875  71.300000  80.300000  63.525  61.050  69.000000  50.850
4   2015  78.525  71.350000  80.575000  65.825  59.550  68.600000  53.500
5   2016  76.375  69.350000  78.875000  70.000  60.000  68.750000  54.675
6   2017  74.925  70.025000  78.925000  73.475  58.275  68.350000  54.550
7   2018  73.625  68.175000  78.675000  74.275  56.950  68.300000  51.500
8   2019  74.550  68.175000  78.000000  75.300  56.600  67.500000  49.600
9   2020  76.100  67.800000  80.800000  77.100  56.800  66.400000  48.700
10  2022  72.100  63.033333  74.866667  70.100  54.500  64.066667  48.300
11  2023  71.825  62.400000  74.575000  68.675  54.750  65.300000  48.925
12  2024  70.100  62.300000  73.600000  67.000  54.600  65.800000  48.000

        32         52  ...         41         33         24         11  \
1   48.200  57.600000  ...  24.450000  39.400000  59.100000  58.400000
2   51.700  59.100000  ...  26.400000  41.600000  59.400000  61.575000
3   51.725  57.275000  ...  25.800000  42.375000  57.800000  66.025000
4   51.175  56.625000  ...  25.825000  42.775000  55.700000  64.150000
5   50.050  57.975000  ...  26.925000  42.250000  57.050000  61.825000
6   49.300  56.250000  ...  27.550000  42.975000  57.125000  61.350000
7   49.825  55.100000  ...  28.900000  41.500000  56.450000  62.800000
8   50.750  56.150000  ...  30.625000  40.850000  53.675000  62.200000
9   50.900  57.700000  ...  30.200000  40.600000  53.900000  62.900000
10  49.200  54.233333  ...  30.833333  36.933333  54.166667  60.033333
11  49.125  54.325000  ...  30.325000  36.550000  53.575000  61.475000
12  48.600  53.700000  ...  31.300000  37.400000  51.900000  63.400000

        14         43         42         28         35      17
1   70.725   9.650000   9.900000  68.000000  28.650000  68.000
2   66.475   9.475000  10.300000  67.875000  28.475000  71.725
3   67.950   9.625000   9.350000  70.325000  28.250000  70.225
4   66.600  10.800000   9.850000  71.100000  29.300000  67.600
5   64.775  12.000000  11.550000  70.850000  29.650000  66.775
6   63.475  13.150000  13.875000  71.650000  31.500000  65.400
7   63.400  13.150000  15.650000  70.325000  33.075000  64.825
8   63.075  13.400000  15.650000  69.175000  32.925000  65.525
9   66.300  12.700000  15.800000  70.300000  32.000000  66.500
10  67.600  14.033333  17.066667  60.766667  32.333333  63.000
11  64.975  15.250000  18.400000  61.900000  32.350000  63.150
12  65.200  15.700000  19.000000  62.700000  33.100000  62.700

[12 rows x 28 columns]

In [15]:
brown_labour_force_T.columns

Index(['time', '12', '27', '13', '16', '29', '23', '53', '32', '52', '21',
       '31', '50', '51', '15', '25', '26', '22', '41', '33', '24', '11', '14',
       '43', '42', '28', '35', '17'],
      dtype='object')

In [16]:
colunas_arredondar = ['12', '27', '13', '16', '29', '23', '53', '32', '52', '21',
       '31', '50', '51', '15', '25', '26', '22', '41', '33', '24', '11', '14',
       '43', '42', '28', '35', '17']
brown_labour_force_T[colunas_arredondar] = brown_labour_force_T[colunas_arredondar].round(1)

In [17]:
print(brown_labour_force_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  73.0  72.6  76.1  75.8  60.8  68.2  50.8  48.2  57.6  ...  24.4
2   2013  75.1  72.6  78.5  69.1  63.0  69.7  49.2  51.7  59.1  ...  26.4
3   2014  78.9  71.3  80.3  63.5  61.0  69.0  50.8  51.7  57.3  ...  25.8
4   2015  78.5  71.4  80.6  65.8  59.6  68.6  53.5  51.2  56.6  ...  25.8
5   2016  76.4  69.4  78.9  70.0  60.0  68.8  54.7  50.0  58.0  ...  26.9
6   2017  74.9  70.0  78.9  73.5  58.3  68.4  54.6  49.3  56.2  ...  27.6
7   2018  73.6  68.2  78.7  74.3  57.0  68.3  51.5  49.8  55.1  ...  28.9
8   2019  74.6  68.2  78.0  75.3  56.6  67.5  49.6  50.8  56.2  ...  30.6
9   2020  76.1  67.8  80.8  77.1  56.8  66.4  48.7  50.9  57.7  ...  30.2
10  2022  72.1  63.0  74.9  70.1  54.5  64.1  48.3  49.2  54.2  ...  30.8
11  2023  71.8  62.4  74.6  68.7  54.8  65.3  48.9  49.1  54.3  ...  30.3
12  2024  70.1  62.3  73.6  67.0  54.6  65.8  48.0  48.6  53.7  ...  31.3

      33    24    11    14    43    42    28    35    17
1   39.4  59.1  58.4  70.7   9.6   9.9  68.0  28.6  68.0
2   41.6  59.4  61.6  66.5   9.5  10.3  67.9  28.5  71.7
3   42.4  57.8  66.0  68.0   9.6   9.4  70.3  28.2  70.2
4   42.8  55.7  64.2  66.6  10.8   9.8  71.1  29.3  67.6
5   42.2  57.0  61.8  64.8  12.0  11.6  70.8  29.6  66.8
6   43.0  57.1  61.4  63.5  13.2  13.9  71.6  31.5  65.4
7   41.5  56.4  62.8  63.4  13.2  15.6  70.3  33.1  64.8
8   40.8  53.7  62.2  63.1  13.4  15.7  69.2  32.9  65.5
9   40.6  53.9  62.9  66.3  12.7  15.8  70.3  32.0  66.5
10  36.9  54.2  60.0  67.6  14.0  17.1  60.8  32.3  63.0
11  36.6  53.6  61.5  65.0  15.2  18.4  61.9  32.3  63.2
12  37.4  51.9  63.4  65.2  15.7  19.0  62.7  33.1  62.7

[12 rows x 28 columns]

In [18]:
brown_labour_force = brown_labour_force_T
brown_labour_force.to_csv('brown_labour_force_est.csv')