## Dataframe indicador - IDHM: Índice de Desenvolvimento Humano Municipal

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
import csv
import json

In [2]:
!pip install --upgrade matplotlib --quiet

In [3]:
!pip install --upgrade seaborn --quiet

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt
#para conseguir visualizar os gráficos no notebook
%matplotlib inline

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
import seaborn as sns

In [22]:
arquivo = "ADH_BASE_RADAR_2012-2021.xlsx"

caminho_completo = os.path.abspath(arquivo)
print("O caminho completo para o arquivo é:", caminho_completo)

O caminho completo para o arquivo é: D:\docs_mariana\ProjetosGit\Convergencia\ADH_BASE_RADAR_2012-2021.xlsx

In [23]:
idhm_states = pd.read_excel('D:\docs_mariana\ProjetosGit\Convergencia\data\ADH_BASE_RADAR_2012-2021.xlsx')

In [24]:
idhm_states.head(5)

,ANO,AGREGACAO,CODIGO,NOME,IDHM,IDHM_L,IDHM_E,IDHM_R,I_ESCOLARIDADE,I_FREQ_PROP,...,POP6A17,POP11A13,POP15A17,POP15M,POP18A20,POP18A24,POP18M,POP25M,POP65M,POPOCUP18M
0,2012,BRASIL,NaN,NaN,0.746,0.825,0.687,0.732,0.606,0.731,...,39808859,10304212,10609288,150994845,10076087,23924348,140385557,116461209,15249133,84277753
1,2013,BRASIL,NaN,NaN,0.753,0.830,0.698,0.737,0.615,0.744,...,39055262,9986737,10521249,153338252,10336071,24034903,142817003,118782100,15820311,86108710
2,2014,BRASIL,NaN,NaN,0.762,0.835,0.715,0.741,0.630,0.761,...,38765780,9687655,10446675,155356978,10224771,23840076,144910303,121070227,16425141,87308460
3,2015,BRASIL,NaN,NaN,0.765,0.840,0.724,0.736,0.642,0.769,...,38189476,9314133,10401307,157576293,10394554,23851445,147174986,123323541,17060247,87756538
4,2016,BRASIL,NaN,NaN,0.771,0.845,0.740,0.734,0.657,0.786,...,37694949,9288033,10375148,159692542,10242815,23779687,149317393,125537706,17728449,87110394

In [25]:
idhm_states.columns

Index(['ANO', 'AGREGACAO', 'CODIGO', 'NOME', 'IDHM', 'IDHM_L', 'IDHM_E',
       'IDHM_R', 'I_ESCOLARIDADE', 'I_FREQ_PROP', 'IDHMAD', 'IDHMAD_L',
       'IDHMAD_E', 'IDHMAD_R', 'ATK_ESPVIDA', 'ATK_ANOSEST', 'ATK_RDPC',
       'IDHMAD_PERDA', 'IDHMAD_L_PERDA', 'IDHMAD_E_PERDA', 'IDHMAD_R_PERDA',
       'IDHMAD_COEF', 'ESPVIDA', 'MORT1', 'T_ENV', 'RAZDEP', 'T_FREQ5A6',
       'T_FUND11A13', 'T_FUND15A17', 'T_MED18A20', 'T_FUND18M', 'ANOSEST',
       'T_ANALF15M', 'T_ANALF18M', 'T_ANALF25M', 'T_FREQ6A14', 'T_FREQ15A17',
       'T_FREQ18A24', 'T_FUND18A24', 'T_FUND25M', 'T_MED25M', 'T_SUPER25M',
       'T_ATRASO_2_BASICO', 'T_ATRASO_2_FUND', 'T_FLBAS', 'T_FLFUND',
       'T_FLMED', 'T_FLSUPER', 'RDPC', 'RDPCT', 'RENOCUP', 'PRENTRAB', 'RDPC1',
       'RDPC2', 'RDPC3', 'RDPC4', 'RDPC5', 'RDPC10', 'R1040', 'R2040', 'GINI',
       'THEIL', 'PIND', 'PMPOB', 'PPOB', 'RIND', 'RMPOB', 'RPOB', 'POPTOT',
       'POP', 'POPT', 'POP5A6', 'POP6A14', 'POP6A17', 'POP11A13', 'POP15A17',
       'POP15M', 'POP18A20', 'POP18A24', 'POP18M', 'POP25M', 'POP65M',
       'POPOCUP18M'],
      dtype='object')

In [26]:
idhm_states = idhm_states.drop(columns=['IDHM_L', 'IDHM_E',
       'IDHM_R', 'I_ESCOLARIDADE', 'I_FREQ_PROP', 'IDHMAD', 'IDHMAD_L',
       'IDHMAD_E', 'IDHMAD_R', 'ATK_ESPVIDA', 'ATK_ANOSEST', 'ATK_RDPC',
       'IDHMAD_PERDA', 'IDHMAD_L_PERDA', 'IDHMAD_E_PERDA', 'IDHMAD_R_PERDA',
       'IDHMAD_COEF', 'ESPVIDA', 'MORT1', 'T_ENV', 'RAZDEP', 'T_FREQ5A6',
       'T_FUND11A13', 'T_FUND15A17', 'T_MED18A20', 'T_FUND18M', 'ANOSEST', 'T_ANALF15M', 'T_ANALF18M', 'T_ANALF25M', 'T_FREQ6A14', 'T_FREQ15A17',
       'T_FREQ18A24', 'T_FUND18A24', 'T_FUND25M', 'T_MED25M', 'T_SUPER25M',
       'T_ATRASO_2_BASICO', 'T_ATRASO_2_FUND', 'T_FLBAS', 'T_FLFUND',
       'T_FLMED', 'T_FLSUPER', 'RDPC', 'RDPCT', 'RENOCUP', 'PRENTRAB', 'RDPC1',
       'RDPC2', 'RDPC3', 'RDPC4', 'RDPC5', 'RDPC10', 'R1040', 'R2040', 'GINI',
       'THEIL', 'PIND', 'PMPOB', 'PPOB', 'RIND', 'RMPOB', 'RPOB', 'POPTOT',
       'POP', 'POPT', 'POP5A6', 'POP6A14', 'POP6A17', 'POP11A13', 'POP15A17',
       'POP15M', 'POP18A20', 'POP18A24', 'POP18M', 'POP25M', 'POP65M',
       'POPOCUP18M'])

In [27]:
idhm_states.head()

    ANO AGREGACAO  CODIGO NOME   IDHM
0  2012    BRASIL     NaN  NaN  0.746
1  2013    BRASIL     NaN  NaN  0.753
2  2014    BRASIL     NaN  NaN  0.762
3  2015    BRASIL     NaN  NaN  0.765
4  2016    BRASIL     NaN  NaN  0.771

In [28]:
idhm_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ANO        490 non-null    int64
 1   AGREGACAO  490 non-null    object
 2   CODIGO     480 non-null    float64
 3   NOME       480 non-null    object
 4   IDHM       490 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 19.3+ KB

In [31]:
idhm_states.rename(columns={'ANO': 'time'}, inplace=True)

In [32]:
idhm_states['time'] = idhm_states['time'].astype(int)

In [37]:
idhm_states.head()

   time AGREGACAO  CODIGO NOME   IDHM
0  2012    BRASIL     NaN  NaN  0.746
1  2013    BRASIL     NaN  NaN  0.753
2  2014    BRASIL     NaN  NaN  0.762
3  2015    BRASIL     NaN  NaN  0.765
4  2016    BRASIL     NaN  NaN  0.771

In [34]:
idhm_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490 entries, 0 to 489
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       490 non-null    int32
 1   AGREGACAO  490 non-null    object
 2   CODIGO     480 non-null    float64
 3   NOME       480 non-null    object
 4   IDHM       490 non-null    float64
dtypes: float64(2), int32(1), object(2)
memory usage: 17.4+ KB

In [39]:
idhm_states = idhm_states.dropna(how='any')
idhm_states.head()

    time AGREGACAO  CODIGO      NOME   IDHM
10  2012        UF    11.0  Rondônia  0.694
11  2012        UF    12.0      Acre  0.701
12  2012        UF    13.0  Amazonas  0.691
13  2012        UF    14.0   Roraima  0.738
14  2012        UF    15.0      Pará  0.666

In [40]:
# Filtrar linhas onde a coluna 'coluna' contenha 'RM_RIDE'
idhm_states = idhm_states[~idhm_states['AGREGACAO'].str.contains('RM_RIDE')]

In [41]:
idhm_states.tail()

     time AGREGACAO  CODIGO                NOME   IDHM
275  2021        UF    43.0   Rio Grande do Sul  0.771
276  2021        UF    50.0  Mato Grosso do Sul  0.742
277  2021        UF    51.0         Mato Grosso  0.736
278  2021        UF    52.0               Goiás  0.737
279  2021        UF    53.0    Distrito Federal  0.814

In [42]:
idhm_states['CODIGO'] = idhm_states['CODIGO'].astype(int)

In [43]:
idhm_states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270 entries, 10 to 279
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       270 non-null    int32
 1   AGREGACAO  270 non-null    object
 2   CODIGO     270 non-null    int32
 3   NOME       270 non-null    object
 4   IDHM       270 non-null    float64
dtypes: float64(1), int32(2), object(2)
memory usage: 10.5+ KB

In [44]:
idhm_states.columns

Index(['time', 'AGREGACAO', 'CODIGO', 'NOME', 'IDHM'], dtype='object')

In [45]:
idhm_states = idhm_states.drop(columns=['AGREGACAO', 'NOME'])

In [46]:
idhm_states.head()

    time  CODIGO   IDHM
10  2012      11  0.694
11  2012      12  0.701
12  2012      13  0.691
13  2012      14  0.738
14  2012      15  0.666

In [47]:
# Reorganizando o DataFrame para ter os estados como colunas e datas como índices
idhm_states = idhm_states.pivot(index='time', columns='CODIGO')['IDHM']

# Removendo o nome da coluna de estados ('Código')
idhm_states.columns.name = None

In [50]:
idhm_states.head(2)

,time,11,12,13,14,15,16,17,21,22,...,32,33,35,41,42,43,50,51,52,53
0,2012,0.694,0.701,0.691,0.738,0.666,0.707,0.710,0.648,0.660,...,0.758,0.762,0.812,0.772,0.792,0.763,0.733,0.742,0.744,0.825
1,2013,0.687,0.706,0.702,0.738,0.671,0.734,0.719,0.661,0.679,...,0.765,0.768,0.818,0.782,0.801,0.773,0.743,0.758,0.752,0.837

In [49]:
idhm_states.reset_index(inplace=True)

In [51]:
idhm_states.head(2)

,time,11,12,13,14,15,16,17,21,22,...,32,33,35,41,42,43,50,51,52,53
0,2012,0.694,0.701,0.691,0.738,0.666,0.707,0.710,0.648,0.660,...,0.758,0.762,0.812,0.772,0.792,0.763,0.733,0.742,0.744,0.825
1,2013,0.687,0.706,0.702,0.738,0.671,0.734,0.719,0.661,0.679,...,0.765,0.768,0.818,0.782,0.801,0.773,0.743,0.758,0.752,0.837

In [52]:
idhm_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    10 non-null     int32
 1   11      10 non-null     float64
 2   12      10 non-null     float64
 3   13      10 non-null     float64
 4   14      10 non-null     float64
 5   15      10 non-null     float64
 6   16      10 non-null     float64
 7   17      10 non-null     float64
 8   21      10 non-null     float64
 9   22      10 non-null     float64
 10  23      10 non-null     float64
 11  24      10 non-null     float64
 12  25      10 non-null     float64
 13  26      10 non-null     float64
 14  27      10 non-null     float64
 15  28      10 non-null     float64
 16  29      10 non-null     float64
 17  31      10 non-null     float64
 18  32      10 non-null     float64
 19  33      10 non-null     float64
 20  35      10 non-null     float64
 21  41      10 non-null     float64
 22  42      10 non-null     float64
 23  43      10 non-null     float64
 24  50      10 non-null     float64
 25  51      10 non-null     float64
 26  52      10 non-null     float64
 27  53      10 non-null     float64
dtypes: float64(27), int32(1)
memory usage: 2.3 KB

In [53]:
#criando arquivo csv final
idhm_states.to_csv('D:\docs_mariana\ProjetosGit\Convergencia\data_eurofound_est\idhm_states.csv', encoding='UTF-8', index = False)