In [56]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [57]:
#Carregando nosso DF
os.chdir('/content/drive/MyDrive/Bases de Dados para Indicadores EUROFOUND/Base de Dados')
international_poverty_br = pd.read_csv('taxa_pobreza_BR_internacional.csv', sep=';')

In [58]:
print(international_poverty_br)

  Sigla  Código  Brasil 2012 2013 2014 2015 2016 2017 2018 2019  2020  2021  \
0    BR       0  Brasil  6,6  5,8  5,2  5,6  6,7  7,3  7,4  7,3     6     9

  2022  Unnamed: 14
0  5,9          NaN

In [59]:
international_poverty_br = international_poverty_br.drop(['Sigla', 'Brasil'], axis=1)
international_poverty_br.head()

,Código,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 14
0,0,"6,6","5,8","5,2","5,6","6,7","7,3","7,4","7,3",6,9,"5,9",NaN

In [60]:
international_poverty_br.head()

,Código,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 14
0,0,"6,6","5,8","5,2","5,6","6,7","7,3","7,4","7,3",6,9,"5,9",NaN

In [61]:
international_poverty_br = international_poverty_br.iloc[: , :-1]
print(international_poverty_br)

   Código 2012 2013 2014 2015 2016 2017 2018 2019  2020  2021 2022
0       0  6,6  5,8  5,2  5,6  6,7  7,3  7,4  7,3     6     9  5,9

In [62]:
international_poverty_br_T = international_poverty_br.T
print(international_poverty_br_T)

          0
Código    0
2012    6,6
2013    5,8
2014    5,2
2015    5,6
2016    6,7
2017    7,3
2018    7,4
2019    7,3
2020      6
2021      9
2022    5,9

In [63]:
international_poverty_br_T = international_poverty_br_T.set_index(international_poverty_br.columns)

In [64]:
print(international_poverty_br_T)

          0
Código    0
2012    6,6
2013    5,8
2014    5,2
2015    5,6
2016    6,7
2017    7,3
2018    7,4
2019    7,3
2020      6
2021      9
2022    5,9

In [67]:
international_poverty_br_T = international_poverty_br_T.reset_index(drop=False)

In [69]:
print(international_poverty_br_T)

     index    0
0   Código    0
1     2012  6,6
2     2013  5,8
3     2014  5,2
4     2015  5,6
5     2016  6,7
6     2017  7,3
7     2018  7,4
8     2019  7,3
9     2020    6
10    2021    9
11    2022  5,9

In [72]:
new_columns_names = international_poverty_br_T.iloc[0].tolist()
new_columns_names= dict(zip(international_poverty_br_T.columns, new_columns_names))
international_poverty_br_T.rename(columns = new_columns_names, inplace=True)

In [74]:
print(international_poverty_br_T)

    Código    0
0   Código    0
1     2012  6,6
2     2013  5,8
3     2014  5,2
4     2015  5,6
5     2016  6,7
6     2017  7,3
7     2018  7,4
8     2019  7,3
9     2020    6
10    2021    9
11    2022  5,9

In [76]:
international_poverty_br_T = international_poverty_br_T.drop(index=0)

KeyError: '[0] not found in axis'

In [77]:
print(international_poverty_br_T)

   Código    0
1    2012  6,6
2    2013  5,8
3    2014  5,2
4    2015  5,6
5    2016  6,7
6    2017  7,3
7    2018  7,4
8    2019  7,3
9    2020    6
10   2021    9
11   2022  5,9

In [78]:
international_poverty_br_T.rename(columns = {'Código' : 'time'}, inplace = True)
print(international_poverty_br_T)

    time    0
1   2012  6,6
2   2013  5,8
3   2014  5,2
4   2015  5,6
5   2016  6,7
6   2017  7,3
7   2018  7,4
8   2019  7,3
9   2020    6
10  2021    9
11  2022  5,9

In [79]:
international_poverty_br_T.rename(columns = {0 : 'BR'}, inplace = True)
print(international_poverty_br_T)

    time   BR
1   2012  6,6
2   2013  5,8
3   2014  5,2
4   2015  5,6
5   2016  6,7
6   2017  7,3
7   2018  7,4
8   2019  7,3
9   2020    6
10  2021    9
11  2022  5,9

In [81]:
international_poverty_br = international_poverty_br_T
international_poverty_br.to_csv('/content/drive/MyDrive/Bases de Dados para Indicadores EUROFOUND/Bases Finais/international_poverty_br.csv',encoding='UTF-8', index = False)