In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [60]:
#Carregando nosso DF
national_poverty_states_br = pd.read_csv('taxa_pobreza_nacional_estados.csv', sep=';')

In [61]:
print(national_poverty_states_br)

   Sigla  Código               Estado  2012  2013  2014  2015  2016  2017  \
0     AC      12                 Acre  53,9  53,5  51,4  52,5  56,6  54,6
1     AL      27              Alagoas  60,4  60,3  56,4  59,7  58,4  59,3
2     AM      13             Amazonas  53,5  53,4  50,6  52,2  59,3  56,7
3     AP      16                Amapá  52,7  46,3  46,6  48,6  51,7  55,4
4     BA      29                Bahia  55,5  52,1  48,5  48,7  52,7  54,1
5     CE      23                Ceará  56,2  52,4  51,6  52,2  54,4  52,3
6     DF      53     Distrito Federal  21,1  18,6  19,6  18,9    20  20,4
7     ES      32       Espírito Santo  29,7  30,1  28,5  30,6  32,5    31
8     GO      52                Goiás  27,6  21,5  23,2  24,8  28,1  25,5
9     MA      21             Maranhão  64,3  62,3  60,8  61,3  62,8  62,8
10    MG      31         Minas Gerais  31,4  28,8  27,4  26,6    30  29,3
11    MS      50   Mato Grosso do Sul  26,8  25,5  23,5  24,4  23,5  25,1
12    MT      51          Mato Grosso  26,7    23    24  23,5  26,6  24,9
13    PA      15                 Pará  54,5  54,6    51  53,1    55  53,9
14    PB      25              Paraíba  54,8  52,8  49,5  48,3  52,2  49,6
15    PE      26           Pernambuco    54  49,7  46,5  48,9  51,6  51,1
16    PI      22                Piauí  55,4    51  49,8  48,9  53,1  53,2
17    PR      41               Paraná  21,4  19,7  17,8  19,7  21,6  20,5
18    RJ      33       Rio de Janeiro  26,7  24,5  22,8  23,5  25,7  25,4
19    RN      24  Rio Grande do Norte  51,5  47,8  45,8  43,8  45,9  48,8
20    RO      11             Rondônia  39,9  37,5  35,6  37,8  37,6  34,7
21    RR      14              Roraima  41,4  42,5  39,3    38  40,3  43,7
22    RS      43    Rio Grande do Sul    20  16,7  16,8  15,8  17,6  17,3
23    SC      42       Santa Catarina    15  13,3    12  12,6  14,1  12,2
24    SE      28              Sergipe  52,6  52,1  49,1  48,6  51,1    51
25    SP      35            São Paulo  18,8  17,6  16,5  18,3  18,7  20,9
26    TO      17            Tocantins  48,2  47,1  42,1  43,3  43,4  42,2

    2018  2019  2020  2021  2022  Unnamed: 14
0   50,2  51,9  48,4  54,1    51          NaN
1   59,7  58,2  53,7  60,3  54,2          NaN
2   55,2  56,4  51,6  58,4  55,1          NaN
3   52,8  53,5  49,1    57  47,8          NaN
4   53,4  50,6  46,6  55,8  50,5          NaN
5   51,6    51  47,5  54,6  50,7          NaN
6   19,4    18  17,9    21  17,1          NaN
7   29,2  27,7  26,2  34,1  26,3          NaN
8   26,5  27,1    26  31,4  22,7          NaN
9   63,2  62,1  57,3  65,6  56,7          NaN
10  28,9  27,3  24,3  31,3    27          NaN
11  24,5  22,2  23,9  29,8  21,3          NaN
12  23,4    23  24,2  28,6  22,1          NaN
13  53,4  54,7  46,3  55,1    47          NaN
14  50,3  51,9  49,2  56,2  52,7          NaN
15    50  51,8  49,2  59,7  50,7          NaN
16  52,2  52,6  46,6  51,8  48,2          NaN
17  20,4  20,1  20,1  23,4    20          NaN
18  25,7  25,8  25,9  30,5  26,6          NaN
19  47,3  47,1  41,6  50,9  44,2          NaN
20  33,5  32,5  28,7  39,2  29,6          NaN
21  40,3  49,7  48,5  57,1  45,1          NaN
22  19,5  15,9  16,8  18,9  16,8          NaN
23  12,4  11,9  13,3  14,8  12,8          NaN
24  53,2  52,5  43,9  55,7  45,6          NaN
25  20,1  18,7  20,2  23,7  19,6          NaN
26  41,3  43,7  38,2  42,8    34          NaN

In [62]:
national_poverty_states_br.head()

,Sigla,Código,Estado,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 14
0,AC,12,Acre,"53,9","53,5","51,4","52,5","56,6","54,6","50,2","51,9","48,4","54,1",51,NaN
1,AL,27,Alagoas,"60,4","60,3","56,4","59,7","58,4","59,3","59,7","58,2","53,7","60,3","54,2",NaN
2,AM,13,Amazonas,"53,5","53,4","50,6","52,2","59,3","56,7","55,2","56,4","51,6","58,4","55,1",NaN
3,AP,16,Amapá,"52,7","46,3","46,6","48,6","51,7","55,4","52,8","53,5","49,1",57,"47,8",NaN
4,BA,29,Bahia,"55,5","52,1","48,5","48,7","52,7","54,1","53,4","50,6","46,6","55,8","50,5",NaN

In [63]:
#Selecionando as colunas que precisamos
national_poverty_states_br = national_poverty_states_br.drop(['Sigla', 'Estado'], axis=1)
national_poverty_states_br.head()

,Código,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 14
0,12,"53,9","53,5","51,4","52,5","56,6","54,6","50,2","51,9","48,4","54,1",51,NaN
1,27,"60,4","60,3","56,4","59,7","58,4","59,3","59,7","58,2","53,7","60,3","54,2",NaN
2,13,"53,5","53,4","50,6","52,2","59,3","56,7","55,2","56,4","51,6","58,4","55,1",NaN
3,16,"52,7","46,3","46,6","48,6","51,7","55,4","52,8","53,5","49,1",57,"47,8",NaN
4,29,"55,5","52,1","48,5","48,7","52,7","54,1","53,4","50,6","46,6","55,8","50,5",NaN

In [64]:
#Removendo a última coluna que está vazia
national_poverty_states_br = national_poverty_states_br.iloc[: , :-1]
print(national_poverty_states_br)

    Código  2012  2013  2014  2015  2016  2017  2018  2019  2020  2021  2022
0       12  53,9  53,5  51,4  52,5  56,6  54,6  50,2  51,9  48,4  54,1    51
1       27  60,4  60,3  56,4  59,7  58,4  59,3  59,7  58,2  53,7  60,3  54,2
2       13  53,5  53,4  50,6  52,2  59,3  56,7  55,2  56,4  51,6  58,4  55,1
3       16  52,7  46,3  46,6  48,6  51,7  55,4  52,8  53,5  49,1    57  47,8
4       29  55,5  52,1  48,5  48,7  52,7  54,1  53,4  50,6  46,6  55,8  50,5
5       23  56,2  52,4  51,6  52,2  54,4  52,3  51,6    51  47,5  54,6  50,7
6       53  21,1  18,6  19,6  18,9    20  20,4  19,4    18  17,9    21  17,1
7       32  29,7  30,1  28,5  30,6  32,5    31  29,2  27,7  26,2  34,1  26,3
8       52  27,6  21,5  23,2  24,8  28,1  25,5  26,5  27,1    26  31,4  22,7
9       21  64,3  62,3  60,8  61,3  62,8  62,8  63,2  62,1  57,3  65,6  56,7
10      31  31,4  28,8  27,4  26,6    30  29,3  28,9  27,3  24,3  31,3    27
11      50  26,8  25,5  23,5  24,4  23,5  25,1  24,5  22,2  23,9  29,8  21,3
12      51  26,7    23    24  23,5  26,6  24,9  23,4    23  24,2  28,6  22,1
13      15  54,5  54,6    51  53,1    55  53,9  53,4  54,7  46,3  55,1    47
14      25  54,8  52,8  49,5  48,3  52,2  49,6  50,3  51,9  49,2  56,2  52,7
15      26    54  49,7  46,5  48,9  51,6  51,1    50  51,8  49,2  59,7  50,7
16      22  55,4    51  49,8  48,9  53,1  53,2  52,2  52,6  46,6  51,8  48,2
17      41  21,4  19,7  17,8  19,7  21,6  20,5  20,4  20,1  20,1  23,4    20
18      33  26,7  24,5  22,8  23,5  25,7  25,4  25,7  25,8  25,9  30,5  26,6
19      24  51,5  47,8  45,8  43,8  45,9  48,8  47,3  47,1  41,6  50,9  44,2
20      11  39,9  37,5  35,6  37,8  37,6  34,7  33,5  32,5  28,7  39,2  29,6
21      14  41,4  42,5  39,3    38  40,3  43,7  40,3  49,7  48,5  57,1  45,1
22      43    20  16,7  16,8  15,8  17,6  17,3  19,5  15,9  16,8  18,9  16,8
23      42    15  13,3    12  12,6  14,1  12,2  12,4  11,9  13,3  14,8  12,8
24      28  52,6  52,1  49,1  48,6  51,1    51  53,2  52,5  43,9  55,7  45,6
25      35  18,8  17,6  16,5  18,3  18,7  20,9  20,1  18,7  20,2  23,7  19,6
26      17  48,2  47,1  42,1  43,3  43,4  42,2  41,3  43,7  38,2  42,8    34

In [65]:
#Transpondo nosso DF
national_poverty_states_br_T = national_poverty_states_br.T
print(national_poverty_states_br_T)

          0     1     2     3     4     5     6     7     8     9   ...    17  \
Código    12    27    13    16    29    23    53    32    52    21  ...    41
2012    53,9  60,4  53,5  52,7  55,5  56,2  21,1  29,7  27,6  64,3  ...  21,4
2013    53,5  60,3  53,4  46,3  52,1  52,4  18,6  30,1  21,5  62,3  ...  19,7
2014    51,4  56,4  50,6  46,6  48,5  51,6  19,6  28,5  23,2  60,8  ...  17,8
2015    52,5  59,7  52,2  48,6  48,7  52,2  18,9  30,6  24,8  61,3  ...  19,7
2016    56,6  58,4  59,3  51,7  52,7  54,4    20  32,5  28,1  62,8  ...  21,6
2017    54,6  59,3  56,7  55,4  54,1  52,3  20,4    31  25,5  62,8  ...  20,5
2018    50,2  59,7  55,2  52,8  53,4  51,6  19,4  29,2  26,5  63,2  ...  20,4
2019    51,9  58,2  56,4  53,5  50,6    51    18  27,7  27,1  62,1  ...  20,1
2020    48,4  53,7  51,6  49,1  46,6  47,5  17,9  26,2    26  57,3  ...  20,1
2021    54,1  60,3  58,4    57  55,8  54,6    21  34,1  31,4  65,6  ...  23,4
2022      51  54,2  55,1  47,8  50,5  50,7  17,1  26,3  22,7  56,7  ...    20

          18    19    20    21    22    23    24    25    26
Código    33    24    11    14    43    42    28    35    17
2012    26,7  51,5  39,9  41,4    20    15  52,6  18,8  48,2
2013    24,5  47,8  37,5  42,5  16,7  13,3  52,1  17,6  47,1
2014    22,8  45,8  35,6  39,3  16,8    12  49,1  16,5  42,1
2015    23,5  43,8  37,8    38  15,8  12,6  48,6  18,3  43,3
2016    25,7  45,9  37,6  40,3  17,6  14,1  51,1  18,7  43,4
2017    25,4  48,8  34,7  43,7  17,3  12,2    51  20,9  42,2
2018    25,7  47,3  33,5  40,3  19,5  12,4  53,2  20,1  41,3
2019    25,8  47,1  32,5  49,7  15,9  11,9  52,5  18,7  43,7
2020    25,9  41,6  28,7  48,5  16,8  13,3  43,9  20,2  38,2
2021    30,5  50,9  39,2  57,1  18,9  14,8  55,7  23,7  42,8
2022    26,6  44,2  29,6  45,1  16,8  12,8  45,6  19,6    34

[12 rows x 27 columns]

In [66]:
#Criando o index
national_poverty_states_br_T = national_poverty_states_br_T.reset_index(drop=False)
print(national_poverty_states_br_T)

     index     0     1     2     3     4     5     6     7     8  ...    17  \
0   Código    12    27    13    16    29    23    53    32    52  ...    41
1     2012  53,9  60,4  53,5  52,7  55,5  56,2  21,1  29,7  27,6  ...  21,4
2     2013  53,5  60,3  53,4  46,3  52,1  52,4  18,6  30,1  21,5  ...  19,7
3     2014  51,4  56,4  50,6  46,6  48,5  51,6  19,6  28,5  23,2  ...  17,8
4     2015  52,5  59,7  52,2  48,6  48,7  52,2  18,9  30,6  24,8  ...  19,7
5     2016  56,6  58,4  59,3  51,7  52,7  54,4    20  32,5  28,1  ...  21,6
6     2017  54,6  59,3  56,7  55,4  54,1  52,3  20,4    31  25,5  ...  20,5
7     2018  50,2  59,7  55,2  52,8  53,4  51,6  19,4  29,2  26,5  ...  20,4
8     2019  51,9  58,2  56,4  53,5  50,6    51    18  27,7  27,1  ...  20,1
9     2020  48,4  53,7  51,6  49,1  46,6  47,5  17,9  26,2    26  ...  20,1
10    2021  54,1  60,3  58,4    57  55,8  54,6    21  34,1  31,4  ...  23,4
11    2022    51  54,2  55,1  47,8  50,5  50,7  17,1  26,3  22,7  ...    20

      18    19    20    21    22    23    24    25    26
0     33    24    11    14    43    42    28    35    17
1   26,7  51,5  39,9  41,4    20    15  52,6  18,8  48,2
2   24,5  47,8  37,5  42,5  16,7  13,3  52,1  17,6  47,1
3   22,8  45,8  35,6  39,3  16,8    12  49,1  16,5  42,1
4   23,5  43,8  37,8    38  15,8  12,6  48,6  18,3  43,3
5   25,7  45,9  37,6  40,3  17,6  14,1  51,1  18,7  43,4
6   25,4  48,8  34,7  43,7  17,3  12,2    51  20,9  42,2
7   25,7  47,3  33,5  40,3  19,5  12,4  53,2  20,1  41,3
8   25,8  47,1  32,5  49,7  15,9  11,9  52,5  18,7  43,7
9   25,9  41,6  28,7  48,5  16,8  13,3  43,9  20,2  38,2
10  30,5  50,9  39,2  57,1  18,9  14,8  55,7  23,7  42,8
11  26,6  44,2  29,6  45,1  16,8  12,8  45,6  19,6    34

[12 rows x 28 columns]

In [67]:
#Renomeando nosso index e removendo a primeira linha repetida
new_columns_names = national_poverty_states_br_T.iloc[0].tolist()
new_columns_names= dict(zip(national_poverty_states_br_T.columns, new_columns_names))
national_poverty_states_br_T.rename(columns = new_columns_names, inplace=True)
print(national_poverty_states_br_T)

    Código    12    27    13    16    29    23    53    32    52  ...    41  \
0   Código    12    27    13    16    29    23    53    32    52  ...    41
1     2012  53,9  60,4  53,5  52,7  55,5  56,2  21,1  29,7  27,6  ...  21,4
2     2013  53,5  60,3  53,4  46,3  52,1  52,4  18,6  30,1  21,5  ...  19,7
3     2014  51,4  56,4  50,6  46,6  48,5  51,6  19,6  28,5  23,2  ...  17,8
4     2015  52,5  59,7  52,2  48,6  48,7  52,2  18,9  30,6  24,8  ...  19,7
5     2016  56,6  58,4  59,3  51,7  52,7  54,4    20  32,5  28,1  ...  21,6
6     2017  54,6  59,3  56,7  55,4  54,1  52,3  20,4    31  25,5  ...  20,5
7     2018  50,2  59,7  55,2  52,8  53,4  51,6  19,4  29,2  26,5  ...  20,4
8     2019  51,9  58,2  56,4  53,5  50,6    51    18  27,7  27,1  ...  20,1
9     2020  48,4  53,7  51,6  49,1  46,6  47,5  17,9  26,2    26  ...  20,1
10    2021  54,1  60,3  58,4    57  55,8  54,6    21  34,1  31,4  ...  23,4
11    2022    51  54,2  55,1  47,8  50,5  50,7  17,1  26,3  22,7  ...    20

      33    24    11    14    43    42    28    35    17
0     33    24    11    14    43    42    28    35    17
1   26,7  51,5  39,9  41,4    20    15  52,6  18,8  48,2
2   24,5  47,8  37,5  42,5  16,7  13,3  52,1  17,6  47,1
3   22,8  45,8  35,6  39,3  16,8    12  49,1  16,5  42,1
4   23,5  43,8  37,8    38  15,8  12,6  48,6  18,3  43,3
5   25,7  45,9  37,6  40,3  17,6  14,1  51,1  18,7  43,4
6   25,4  48,8  34,7  43,7  17,3  12,2    51  20,9  42,2
7   25,7  47,3  33,5  40,3  19,5  12,4  53,2  20,1  41,3
8   25,8  47,1  32,5  49,7  15,9  11,9  52,5  18,7  43,7
9   25,9  41,6  28,7  48,5  16,8  13,3  43,9  20,2  38,2
10  30,5  50,9  39,2  57,1  18,9  14,8  55,7  23,7  42,8
11  26,6  44,2  29,6  45,1  16,8  12,8  45,6  19,6    34

[12 rows x 28 columns]

In [68]:
national_poverty_states_br_T = national_poverty_states_br_T.drop(index=0)
print(national_poverty_states_br_T)

   Código    12    27    13    16    29    23    53    32    52  ...    41  \
1    2012  53,9  60,4  53,5  52,7  55,5  56,2  21,1  29,7  27,6  ...  21,4
2    2013  53,5  60,3  53,4  46,3  52,1  52,4  18,6  30,1  21,5  ...  19,7
3    2014  51,4  56,4  50,6  46,6  48,5  51,6  19,6  28,5  23,2  ...  17,8
4    2015  52,5  59,7  52,2  48,6  48,7  52,2  18,9  30,6  24,8  ...  19,7
5    2016  56,6  58,4  59,3  51,7  52,7  54,4    20  32,5  28,1  ...  21,6
6    2017  54,6  59,3  56,7  55,4  54,1  52,3  20,4    31  25,5  ...  20,5
7    2018  50,2  59,7  55,2  52,8  53,4  51,6  19,4  29,2  26,5  ...  20,4
8    2019  51,9  58,2  56,4  53,5  50,6    51    18  27,7  27,1  ...  20,1
9    2020  48,4  53,7  51,6  49,1  46,6  47,5  17,9  26,2    26  ...  20,1
10   2021  54,1  60,3  58,4    57  55,8  54,6    21  34,1  31,4  ...  23,4
11   2022    51  54,2  55,1  47,8  50,5  50,7  17,1  26,3  22,7  ...    20

      33    24    11    14    43    42    28    35    17
1   26,7  51,5  39,9  41,4    20    15  52,6  18,8  48,2
2   24,5  47,8  37,5  42,5  16,7  13,3  52,1  17,6  47,1
3   22,8  45,8  35,6  39,3  16,8    12  49,1  16,5  42,1
4   23,5  43,8  37,8    38  15,8  12,6  48,6  18,3  43,3
5   25,7  45,9  37,6  40,3  17,6  14,1  51,1  18,7  43,4
6   25,4  48,8  34,7  43,7  17,3  12,2    51  20,9  42,2
7   25,7  47,3  33,5  40,3  19,5  12,4  53,2  20,1  41,3
8   25,8  47,1  32,5  49,7  15,9  11,9  52,5  18,7  43,7
9   25,9  41,6  28,7  48,5  16,8  13,3  43,9  20,2  38,2
10  30,5  50,9  39,2  57,1  18,9  14,8  55,7  23,7  42,8
11  26,6  44,2  29,6  45,1  16,8  12,8  45,6  19,6    34

[11 rows x 28 columns]

In [69]:
national_poverty_states_br_T.rename(columns = {'Código' : 'time'}, inplace = True)
print(national_poverty_states_br_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  53,9  60,4  53,5  52,7  55,5  56,2  21,1  29,7  27,6  ...  21,4
2   2013  53,5  60,3  53,4  46,3  52,1  52,4  18,6  30,1  21,5  ...  19,7
3   2014  51,4  56,4  50,6  46,6  48,5  51,6  19,6  28,5  23,2  ...  17,8
4   2015  52,5  59,7  52,2  48,6  48,7  52,2  18,9  30,6  24,8  ...  19,7
5   2016  56,6  58,4  59,3  51,7  52,7  54,4    20  32,5  28,1  ...  21,6
6   2017  54,6  59,3  56,7  55,4  54,1  52,3  20,4    31  25,5  ...  20,5
7   2018  50,2  59,7  55,2  52,8  53,4  51,6  19,4  29,2  26,5  ...  20,4
8   2019  51,9  58,2  56,4  53,5  50,6    51    18  27,7  27,1  ...  20,1
9   2020  48,4  53,7  51,6  49,1  46,6  47,5  17,9  26,2    26  ...  20,1
10  2021  54,1  60,3  58,4    57  55,8  54,6    21  34,1  31,4  ...  23,4
11  2022    51  54,2  55,1  47,8  50,5  50,7  17,1  26,3  22,7  ...    20

      33    24    11    14    43    42    28    35    17
1   26,7  51,5  39,9  41,4    20    15  52,6  18,8  48,2
2   24,5  47,8  37,5  42,5  16,7  13,3  52,1  17,6  47,1
3   22,8  45,8  35,6  39,3  16,8    12  49,1  16,5  42,1
4   23,5  43,8  37,8    38  15,8  12,6  48,6  18,3  43,3
5   25,7  45,9  37,6  40,3  17,6  14,1  51,1  18,7  43,4
6   25,4  48,8  34,7  43,7  17,3  12,2    51  20,9  42,2
7   25,7  47,3  33,5  40,3  19,5  12,4  53,2  20,1  41,3
8   25,8  47,1  32,5  49,7  15,9  11,9  52,5  18,7  43,7
9   25,9  41,6  28,7  48,5  16,8  13,3  43,9  20,2  38,2
10  30,5  50,9  39,2  57,1  18,9  14,8  55,7  23,7  42,8
11  26,6  44,2  29,6  45,1  16,8  12,8  45,6  19,6    34

[11 rows x 28 columns]

In [70]:
#Substituindo as , por .
national_poverty_states_br_T = national_poverty_states_br_T.replace(',', '.', regex=True)
print(national_poverty_states_br_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  53.9  60.4  53.5  52.7  55.5  56.2  21.1  29.7  27.6  ...  21.4
2   2013  53.5  60.3  53.4  46.3  52.1  52.4  18.6  30.1  21.5  ...  19.7
3   2014  51.4  56.4  50.6  46.6  48.5  51.6  19.6  28.5  23.2  ...  17.8
4   2015  52.5  59.7  52.2  48.6  48.7  52.2  18.9  30.6  24.8  ...  19.7
5   2016  56.6  58.4  59.3  51.7  52.7  54.4    20  32.5  28.1  ...  21.6
6   2017  54.6  59.3  56.7  55.4  54.1  52.3  20.4    31  25.5  ...  20.5
7   2018  50.2  59.7  55.2  52.8  53.4  51.6  19.4  29.2  26.5  ...  20.4
8   2019  51.9  58.2  56.4  53.5  50.6    51    18  27.7  27.1  ...  20.1
9   2020  48.4  53.7  51.6  49.1  46.6  47.5  17.9  26.2    26  ...  20.1
10  2021  54.1  60.3  58.4    57  55.8  54.6    21  34.1  31.4  ...  23.4
11  2022    51  54.2  55.1  47.8  50.5  50.7  17.1  26.3  22.7  ...    20

      33    24    11    14    43    42    28    35    17
1   26.7  51.5  39.9  41.4    20    15  52.6  18.8  48.2
2   24.5  47.8  37.5  42.5  16.7  13.3  52.1  17.6  47.1
3   22.8  45.8  35.6  39.3  16.8    12  49.1  16.5  42.1
4   23.5  43.8  37.8    38  15.8  12.6  48.6  18.3  43.3
5   25.7  45.9  37.6  40.3  17.6  14.1  51.1  18.7  43.4
6   25.4  48.8  34.7  43.7  17.3  12.2    51  20.9  42.2
7   25.7  47.3  33.5  40.3  19.5  12.4  53.2  20.1  41.3
8   25.8  47.1  32.5  49.7  15.9  11.9  52.5  18.7  43.7
9   25.9  41.6  28.7  48.5  16.8  13.3  43.9  20.2  38.2
10  30.5  50.9  39.2  57.1  18.9  14.8  55.7  23.7  42.8
11  26.6  44.2  29.6  45.1  16.8  12.8  45.6  19.6    34

[11 rows x 28 columns]

In [71]:
national_poverty_states_br_T[[11,12,13,14,15,16,17,21,22,23,24,25,26,27,28,29,31,32,33,35,41,42,43,50,51,52,53]] = national_poverty_states_br_T[[11,12,13,14,15,16,17,21,22,23,24,25,26,27,28,29,31,32,33,35,41,42,43,50,51,52,53]].astype(float)
print(national_poverty_states_br_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  53.9  60.4  53.5  52.7  55.5  56.2  21.1  29.7  27.6  ...  21.4
2   2013  53.5  60.3  53.4  46.3  52.1  52.4  18.6  30.1  21.5  ...  19.7
3   2014  51.4  56.4  50.6  46.6  48.5  51.6  19.6  28.5  23.2  ...  17.8
4   2015  52.5  59.7  52.2  48.6  48.7  52.2  18.9  30.6  24.8  ...  19.7
5   2016  56.6  58.4  59.3  51.7  52.7  54.4  20.0  32.5  28.1  ...  21.6
6   2017  54.6  59.3  56.7  55.4  54.1  52.3  20.4  31.0  25.5  ...  20.5
7   2018  50.2  59.7  55.2  52.8  53.4  51.6  19.4  29.2  26.5  ...  20.4
8   2019  51.9  58.2  56.4  53.5  50.6  51.0  18.0  27.7  27.1  ...  20.1
9   2020  48.4  53.7  51.6  49.1  46.6  47.5  17.9  26.2  26.0  ...  20.1
10  2021  54.1  60.3  58.4  57.0  55.8  54.6  21.0  34.1  31.4  ...  23.4
11  2022  51.0  54.2  55.1  47.8  50.5  50.7  17.1  26.3  22.7  ...  20.0

      33    24    11    14    43    42    28    35    17
1   26.7  51.5  39.9  41.4  20.0  15.0  52.6  18.8  48.2
2   24.5  47.8  37.5  42.5  16.7  13.3  52.1  17.6  47.1
3   22.8  45.8  35.6  39.3  16.8  12.0  49.1  16.5  42.1
4   23.5  43.8  37.8  38.0  15.8  12.6  48.6  18.3  43.3
5   25.7  45.9  37.6  40.3  17.6  14.1  51.1  18.7  43.4
6   25.4  48.8  34.7  43.7  17.3  12.2  51.0  20.9  42.2
7   25.7  47.3  33.5  40.3  19.5  12.4  53.2  20.1  41.3
8   25.8  47.1  32.5  49.7  15.9  11.9  52.5  18.7  43.7
9   25.9  41.6  28.7  48.5  16.8  13.3  43.9  20.2  38.2
10  30.5  50.9  39.2  57.1  18.9  14.8  55.7  23.7  42.8
11  26.6  44.2  29.6  45.1  16.8  12.8  45.6  19.6  34.0

[11 rows x 28 columns]

In [72]:
national_poverty_states_br_T['time'] = national_poverty_states_br_T['time'].astype(int)
print(national_poverty_states_br_T)

    time    12    27    13    16    29    23    53    32    52  ...    41  \
1   2012  53.9  60.4  53.5  52.7  55.5  56.2  21.1  29.7  27.6  ...  21.4
2   2013  53.5  60.3  53.4  46.3  52.1  52.4  18.6  30.1  21.5  ...  19.7
3   2014  51.4  56.4  50.6  46.6  48.5  51.6  19.6  28.5  23.2  ...  17.8
4   2015  52.5  59.7  52.2  48.6  48.7  52.2  18.9  30.6  24.8  ...  19.7
5   2016  56.6  58.4  59.3  51.7  52.7  54.4  20.0  32.5  28.1  ...  21.6
6   2017  54.6  59.3  56.7  55.4  54.1  52.3  20.4  31.0  25.5  ...  20.5
7   2018  50.2  59.7  55.2  52.8  53.4  51.6  19.4  29.2  26.5  ...  20.4
8   2019  51.9  58.2  56.4  53.5  50.6  51.0  18.0  27.7  27.1  ...  20.1
9   2020  48.4  53.7  51.6  49.1  46.6  47.5  17.9  26.2  26.0  ...  20.1
10  2021  54.1  60.3  58.4  57.0  55.8  54.6  21.0  34.1  31.4  ...  23.4
11  2022  51.0  54.2  55.1  47.8  50.5  50.7  17.1  26.3  22.7  ...  20.0

      33    24    11    14    43    42    28    35    17
1   26.7  51.5  39.9  41.4  20.0  15.0  52.6  18.8  48.2
2   24.5  47.8  37.5  42.5  16.7  13.3  52.1  17.6  47.1
3   22.8  45.8  35.6  39.3  16.8  12.0  49.1  16.5  42.1
4   23.5  43.8  37.8  38.0  15.8  12.6  48.6  18.3  43.3
5   25.7  45.9  37.6  40.3  17.6  14.1  51.1  18.7  43.4
6   25.4  48.8  34.7  43.7  17.3  12.2  51.0  20.9  42.2
7   25.7  47.3  33.5  40.3  19.5  12.4  53.2  20.1  41.3
8   25.8  47.1  32.5  49.7  15.9  11.9  52.5  18.7  43.7
9   25.9  41.6  28.7  48.5  16.8  13.3  43.9  20.2  38.2
10  30.5  50.9  39.2  57.1  18.9  14.8  55.7  23.7  42.8
11  26.6  44.2  29.6  45.1  16.8  12.8  45.6  19.6  34.0

[11 rows x 28 columns]

In [73]:
national_poverty_states_br_T.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 1 to 11
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11 non-null     int64
 1   12      11 non-null     float64
 2   27      11 non-null     float64
 3   13      11 non-null     float64
 4   16      11 non-null     float64
 5   29      11 non-null     float64
 6   23      11 non-null     float64
 7   53      11 non-null     float64
 8   32      11 non-null     float64
 9   52      11 non-null     float64
 10  21      11 non-null     float64
 11  31      11 non-null     float64
 12  50      11 non-null     float64
 13  51      11 non-null     float64
 14  15      11 non-null     float64
 15  25      11 non-null     float64
 16  26      11 non-null     float64
 17  22      11 non-null     float64
 18  41      11 non-null     float64
 19  33      11 non-null     float64
 20  24      11 non-null     float64
 21  11      11 non-null     float64
 22  14      11 non-null     float64
 23  43      11 non-null     float64
 24  42      11 non-null     float64
 25  28      11 non-null     float64
 26  35      11 non-null     float64
 27  17      11 non-null     float64
dtypes: float64(27), int64(1)
memory usage: 2.5 KB

In [74]:
#Salvando nosso DF
national_poverty_states_br= national_poverty_states_br_T
national_poverty_states_br.to_csv('/content/drive/MyDrive/Bases de Dados para Indicadores EUROFOUND/Bases Finais/national_poverty_states_br.csv',encoding='UTF-8', index = False)