In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')

In [10]:
women_management_positions = pd.read_excel('mulheres_cargos_gerenciais_est.xlsx')

In [11]:
women_management_positions.to_csv('mulheres_cargos_gerenciais_est.csv')

In [12]:
women_management_positions.head()

,UF,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Rondônia,43.487173,35.340815,24.730905,25.904610,47.228701,39.774461,36.739934,36.653098,30.641986,25.541754,30.445105
1,Acre,33.942964,29.972713,35.563843,29.339595,48.399742,38.598752,39.177364,45.524902,37.239920,36.632933,58.554567
2,Amazonas,34.120948,40.718761,36.343138,27.268711,28.994381,39.982321,45.775539,35.825811,29.553964,38.897396,37.952609
3,Roraima,42.515398,37.404516,45.547232,43.384372,24.341227,44.518213,49.189932,47.021883,47.217166,48.739479,38.841404
4,Pará,39.150864,43.409605,39.554166,39.739653,34.574333,34.868778,38.303176,36.429617,39.942057,44.630696,39.034529

In [15]:
women_management_positions_T = women_management_positions.T
print(women_management_positions_T)

             0          1          2          3          4          5   \
UF     Rondônia       Acre   Amazonas    Roraima       Pará      Amapá
2012  43.487173  33.942964  34.120948  42.515398  39.150864   37.27534
2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
2015   25.90461  29.339595  27.268711  43.384372  39.739653  32.082029
2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
2020  30.641986   37.23992  29.553964  47.217166  39.942057  42.907687
2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

             6          7          8          9   ...              17  \
UF    Tocantins   Maranhão      Piauí      Ceará  ...  Espírito Santo
2012  27.262036  39.310885  41.874341  48.051428  ...        35.09534
2013  32.747157  39.417118  35.865145  38.930752  ...       33.827249
2014   32.15162  35.417776  34.130205  39.061256  ...       34.355781
2015  30.612721  36.201972  50.111153  40.349631  ...       39.030085
2016  36.919247  38.236822  48.281959  38.668924  ...       34.049833
2017  40.855225  36.119624  50.527941  35.175278  ...       34.217584
2018  30.951651  43.369262  33.250579  32.751664  ...       37.878677
2019  30.504552  40.390579   52.82388  39.351887  ...       37.006071
2020   26.44138  33.228509  34.851651  36.446058  ...       34.001037
2021  17.759153  32.075233   54.54628  54.602608  ...       37.047734
2022  37.714073  30.686893  22.775535  28.490865  ...       32.018362

                  18         19         20              21                 22  \
UF    Rio de Janeiro  São Paulo     Paraná  Santa Catarina  Rio Grande do Sul
2012       38.192025  37.644238  33.260985       35.954942           33.85051
2013       40.787501  38.657521   33.91633       35.127218            34.9953
2014       45.333847  33.673065  37.326926       36.552646          37.389423
2015       40.218162  36.048981  36.250255       38.194819          32.431409
2016       38.729977    38.8659  38.016569       34.339025          37.282146
2017       39.903238  41.193478  38.565842       37.382641          35.972213
2018       43.442077   37.16384  33.201148       34.871088          30.902429
2019       41.975612  35.201011  34.339015       35.666865           38.09656
2020       37.796689  35.783162  33.032176       36.324852           31.27394
2021       34.627713  32.198422    36.2957       30.033354          38.181697
2022       37.838632  44.810317  33.268344       35.696441           37.71388

                      23           24         25                26
UF    Mato Grosso do Sul  Mato Grosso      Goiás  Distrito Federal
2012           30.973179    21.621245  38.335756          50.89805
2013           25.225045    29.253789   29.76753         36.996565
2014           31.353656    26.336778  36.989863         35.893588
2015           37.118718    26.164446  27.930806         41.893377
2016           39.892036    37.699046  32.347939         43.838662
2017           38.605836    32.960281  32.164178         40.235427
2018           31.653549    36.394516  26.010081         33.546829
2019           29.656398    30.025367  31.974578         35.646454
2020           31.731424     25.02625  34.104904         36.688471
2021           31.217598    35.061912  41.235357         33.738271
2022           32.488411    39.699952  26.060178         39.860339

[12 rows x 27 columns]

In [16]:
women_management_positions_T = women_management_positions_T.reset_index()
women_management_positions_T.head()

,index,0,1,2,3,4,5,6,7,8,...,17,18,19,20,21,22,23,24,25,26
0,UF,Rondônia,Acre,Amazonas,Roraima,Pará,Amapá,Tocantins,Maranhão,Piauí,...,Espírito Santo,Rio de Janeiro,São Paulo,Paraná,Santa Catarina,Rio Grande do Sul,Mato Grosso do Sul,Mato Grosso,Goiás,Distrito Federal
1,2012,43.487173,33.942964,34.120948,42.515398,39.150864,37.27534,27.262036,39.310885,41.874341,...,35.09534,38.192025,37.644238,33.260985,35.954942,33.85051,30.973179,21.621245,38.335756,50.89805
2,2013,35.340815,29.972713,40.718761,37.404516,43.409605,46.184251,32.747157,39.417118,35.865145,...,33.827249,40.787501,38.657521,33.91633,35.127218,34.9953,25.225045,29.253789,29.76753,36.996565
3,2014,24.730905,35.563843,36.343138,45.547232,39.554166,44.990506,32.15162,35.417776,34.130205,...,34.355781,45.333847,33.673065,37.326926,36.552646,37.389423,31.353656,26.336778,36.989863,35.893588
4,2015,25.90461,29.339595,27.268711,43.384372,39.739653,32.082029,30.612721,36.201972,50.111153,...,39.030085,40.218162,36.048981,36.250255,38.194819,32.431409,37.118718,26.164446,27.930806,41.893377

In [17]:
#Renomeando nosso index e removendo a primeira linha repetida
new_columns_names = women_management_positions_T.iloc[0].tolist()
new_columns_names= dict(zip(women_management_positions_T.columns, new_columns_names))
women_management_positions_T.rename(columns = new_columns_names, inplace=True)
print(women_management_positions_T)

      UF   Rondônia       Acre   Amazonas    Roraima       Pará      Amapá  \
0     UF   Rondônia       Acre   Amazonas    Roraima       Pará      Amapá
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864   37.27534
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015   25.90461  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986   37.23992  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

    Tocantins   Maranhão      Piauí  ...  Espírito Santo  Rio de Janeiro  \
0   Tocantins   Maranhão      Piauí  ...  Espírito Santo  Rio de Janeiro
1   27.262036  39.310885  41.874341  ...        35.09534       38.192025
2   32.747157  39.417118  35.865145  ...       33.827249       40.787501
3    32.15162  35.417776  34.130205  ...       34.355781       45.333847
4   30.612721  36.201972  50.111153  ...       39.030085       40.218162
5   36.919247  38.236822  48.281959  ...       34.049833       38.729977
6   40.855225  36.119624  50.527941  ...       34.217584       39.903238
7   30.951651  43.369262  33.250579  ...       37.878677       43.442077
8   30.504552  40.390579   52.82388  ...       37.006071       41.975612
9    26.44138  33.228509  34.851651  ...       34.001037       37.796689
10  17.759153  32.075233   54.54628  ...       37.047734       34.627713
11  37.714073  30.686893  22.775535  ...       32.018362       37.838632

    São Paulo     Paraná  Santa Catarina  Rio Grande do Sul  \
0   São Paulo     Paraná  Santa Catarina  Rio Grande do Sul
1   37.644238  33.260985       35.954942           33.85051
2   38.657521   33.91633       35.127218            34.9953
3   33.673065  37.326926       36.552646          37.389423
4   36.048981  36.250255       38.194819          32.431409
5     38.8659  38.016569       34.339025          37.282146
6   41.193478  38.565842       37.382641          35.972213
7    37.16384  33.201148       34.871088          30.902429
8   35.201011  34.339015       35.666865           38.09656
9   35.783162  33.032176       36.324852           31.27394
10  32.198422    36.2957       30.033354          38.181697
11  44.810317  33.268344       35.696441           37.71388

    Mato Grosso do Sul  Mato Grosso      Goiás  Distrito Federal
0   Mato Grosso do Sul  Mato Grosso      Goiás  Distrito Federal
1            30.973179    21.621245  38.335756          50.89805
2            25.225045    29.253789   29.76753         36.996565
3            31.353656    26.336778  36.989863         35.893588
4            37.118718    26.164446  27.930806         41.893377
5            39.892036    37.699046  32.347939         43.838662
6            38.605836    32.960281  32.164178         40.235427
7            31.653549    36.394516  26.010081         33.546829
8            29.656398    30.025367  31.974578         35.646454
9            31.731424     25.02625  34.104904         36.688471
10           31.217598    35.061912  41.235357         33.738271
11           32.488411    39.699952  26.060178         39.860339

[12 rows x 28 columns]

In [18]:
women_management_positions_T = women_management_positions_T.drop(index=0)
print(women_management_positions_T)

      UF   Rondônia       Acre   Amazonas    Roraima       Pará      Amapá  \
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864   37.27534
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015   25.90461  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986   37.23992  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

    Tocantins   Maranhão      Piauí  ... Espírito Santo Rio de Janeiro  \
1   27.262036  39.310885  41.874341  ...       35.09534      38.192025
2   32.747157  39.417118  35.865145  ...      33.827249      40.787501
3    32.15162  35.417776  34.130205  ...      34.355781      45.333847
4   30.612721  36.201972  50.111153  ...      39.030085      40.218162
5   36.919247  38.236822  48.281959  ...      34.049833      38.729977
6   40.855225  36.119624  50.527941  ...      34.217584      39.903238
7   30.951651  43.369262  33.250579  ...      37.878677      43.442077
8   30.504552  40.390579   52.82388  ...      37.006071      41.975612
9    26.44138  33.228509  34.851651  ...      34.001037      37.796689
10  17.759153  32.075233   54.54628  ...      37.047734      34.627713
11  37.714073  30.686893  22.775535  ...      32.018362      37.838632

    São Paulo     Paraná Santa Catarina Rio Grande do Sul Mato Grosso do Sul  \
1   37.644238  33.260985      35.954942          33.85051          30.973179
2   38.657521   33.91633      35.127218           34.9953          25.225045
3   33.673065  37.326926      36.552646         37.389423          31.353656
4   36.048981  36.250255      38.194819         32.431409          37.118718
5     38.8659  38.016569      34.339025         37.282146          39.892036
6   41.193478  38.565842      37.382641         35.972213          38.605836
7    37.16384  33.201148      34.871088         30.902429          31.653549
8   35.201011  34.339015      35.666865          38.09656          29.656398
9   35.783162  33.032176      36.324852          31.27394          31.731424
10  32.198422    36.2957      30.033354         38.181697          31.217598
11  44.810317  33.268344      35.696441          37.71388          32.488411

   Mato Grosso      Goiás Distrito Federal
1    21.621245  38.335756         50.89805
2    29.253789   29.76753        36.996565
3    26.336778  36.989863        35.893588
4    26.164446  27.930806        41.893377
5    37.699046  32.347939        43.838662
6    32.960281  32.164178        40.235427
7    36.394516  26.010081        33.546829
8    30.025367  31.974578        35.646454
9     25.02625  34.104904        36.688471
10   35.061912  41.235357        33.738271
11   39.699952  26.060178        39.860339

[11 rows x 28 columns]

In [19]:
women_management_positions_T.rename(columns = {'Acre' : '12', 'Alagoas' : '27', 'Amazonas' : '13', 'Amapá' : '16', 'Bahia' : '29', 'Ceará' : '23', 'Distrito Federal' : '53', 'Espírito Santo' : '32', 'Goiás' : '52', 'Maranhão' : '21', "Minas Gerais" : '31', 'Mato Grosso do Sul' : '50', 'Mato Grosso' : '51', 'Pará' : '15', 'Paraíba' : '25', 'Pernambuco' : '26', 'Piauí' : '22', 'Paraná' : '41', 'Rio de Janeiro' : '33', 'Rio Grande do Norte' : '24', 'Rondônia' : '11', 'Roraima' : '14', 'Rio Grande do Sul' : '43', 'Santa Catarina' : '42', 'Sergipe' : '28', 'São Paulo' : '35', 'Tocantins' : '17'}, inplace = True)
print(women_management_positions_T)

      UF         11         12         13         14         15         16  \
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864   37.27534
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015   25.90461  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986   37.23992  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

           17         21         22  ...         32         33         35  \
1   27.262036  39.310885  41.874341  ...   35.09534  38.192025  37.644238
2   32.747157  39.417118  35.865145  ...  33.827249  40.787501  38.657521
3    32.15162  35.417776  34.130205  ...  34.355781  45.333847  33.673065
4   30.612721  36.201972  50.111153  ...  39.030085  40.218162  36.048981
5   36.919247  38.236822  48.281959  ...  34.049833  38.729977    38.8659
6   40.855225  36.119624  50.527941  ...  34.217584  39.903238  41.193478
7   30.951651  43.369262  33.250579  ...  37.878677  43.442077   37.16384
8   30.504552  40.390579   52.82388  ...  37.006071  41.975612  35.201011
9    26.44138  33.228509  34.851651  ...  34.001037  37.796689  35.783162
10  17.759153  32.075233   54.54628  ...  37.047734  34.627713  32.198422
11  37.714073  30.686893  22.775535  ...  32.018362  37.838632  44.810317

           41         42         43         50         51         52  \
1   33.260985  35.954942   33.85051  30.973179  21.621245  38.335756
2    33.91633  35.127218    34.9953  25.225045  29.253789   29.76753
3   37.326926  36.552646  37.389423  31.353656  26.336778  36.989863
4   36.250255  38.194819  32.431409  37.118718  26.164446  27.930806
5   38.016569  34.339025  37.282146  39.892036  37.699046  32.347939
6   38.565842  37.382641  35.972213  38.605836  32.960281  32.164178
7   33.201148  34.871088  30.902429  31.653549  36.394516  26.010081
8   34.339015  35.666865   38.09656  29.656398  30.025367  31.974578
9   33.032176  36.324852   31.27394  31.731424   25.02625  34.104904
10    36.2957  30.033354  38.181697  31.217598  35.061912  41.235357
11  33.268344  35.696441   37.71388  32.488411  39.699952  26.060178

           53
1    50.89805
2   36.996565
3   35.893588
4   41.893377
5   43.838662
6   40.235427
7   33.546829
8   35.646454
9   36.688471
10  33.738271
11  39.860339

[11 rows x 28 columns]

In [21]:
women_management_positions_T = women_management_positions_T.rename(columns = {'UF' : 'time'})
print(women_management_positions_T)

    time         11         12         13         14         15         16  \
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864   37.27534
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015   25.90461  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986   37.23992  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

           17         21         22  ...         32         33         35  \
1   27.262036  39.310885  41.874341  ...   35.09534  38.192025  37.644238
2   32.747157  39.417118  35.865145  ...  33.827249  40.787501  38.657521
3    32.15162  35.417776  34.130205  ...  34.355781  45.333847  33.673065
4   30.612721  36.201972  50.111153  ...  39.030085  40.218162  36.048981
5   36.919247  38.236822  48.281959  ...  34.049833  38.729977    38.8659
6   40.855225  36.119624  50.527941  ...  34.217584  39.903238  41.193478
7   30.951651  43.369262  33.250579  ...  37.878677  43.442077   37.16384
8   30.504552  40.390579   52.82388  ...  37.006071  41.975612  35.201011
9    26.44138  33.228509  34.851651  ...  34.001037  37.796689  35.783162
10  17.759153  32.075233   54.54628  ...  37.047734  34.627713  32.198422
11  37.714073  30.686893  22.775535  ...  32.018362  37.838632  44.810317

           41         42         43         50         51         52  \
1   33.260985  35.954942   33.85051  30.973179  21.621245  38.335756
2    33.91633  35.127218    34.9953  25.225045  29.253789   29.76753
3   37.326926  36.552646  37.389423  31.353656  26.336778  36.989863
4   36.250255  38.194819  32.431409  37.118718  26.164446  27.930806
5   38.016569  34.339025  37.282146  39.892036  37.699046  32.347939
6   38.565842  37.382641  35.972213  38.605836  32.960281  32.164178
7   33.201148  34.871088  30.902429  31.653549  36.394516  26.010081
8   34.339015  35.666865   38.09656  29.656398  30.025367  31.974578
9   33.032176  36.324852   31.27394  31.731424   25.02625  34.104904
10    36.2957  30.033354  38.181697  31.217598  35.061912  41.235357
11  33.268344  35.696441   37.71388  32.488411  39.699952  26.060178

           53
1    50.89805
2   36.996565
3   35.893588
4   41.893377
5   43.838662
6   40.235427
7   33.546829
8   35.646454
9   36.688471
10  33.738271
11  39.860339

[11 rows x 28 columns]

In [22]:
women_management_positions_T.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 1 to 11
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11 non-null     object
 1   11      11 non-null     object
 2   12      11 non-null     object
 3   13      11 non-null     object
 4   14      11 non-null     object
 5   15      11 non-null     object
 6   16      11 non-null     object
 7   17      11 non-null     object
 8   21      11 non-null     object
 9   22      11 non-null     object
 10  23      11 non-null     object
 11  24      11 non-null     object
 12  25      11 non-null     object
 13  26      11 non-null     object
 14  27      11 non-null     object
 15  28      11 non-null     object
 16  29      11 non-null     object
 17  31      11 non-null     object
 18  32      11 non-null     object
 19  33      11 non-null     object
 20  35      11 non-null     object
 21  41      11 non-null     object
 22  42      11 non-null     object
 23  43      11 non-null     object
 24  50      11 non-null     object
 25  51      11 non-null     object
 26  52      11 non-null     object
 27  53      11 non-null     object
dtypes: object(28)
memory usage: 2.5+ KB

In [24]:
#Transformando nossos objects em floats
women_management_positions_T[['11','12','13','14','15','16','17','21','22','23','24','25','26','27','28','29','31','32','33','35','41','42','43','50','51','52','53']] = women_management_positions_T[['11','12','13','14','15','16','17','21','22','23','24','25','26','27','28','29','31','32','33','35','41','42','43','50','51','52','53']].astype(float)
print(women_management_positions_T)

    time         11         12         13         14         15         16  \
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864  37.275340
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015  25.904610  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986  37.239920  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

           17         21         22  ...         32         33         35  \
1   27.262036  39.310885  41.874341  ...  35.095340  38.192025  37.644238
2   32.747157  39.417118  35.865145  ...  33.827249  40.787501  38.657521
3   32.151620  35.417776  34.130205  ...  34.355781  45.333847  33.673065
4   30.612721  36.201972  50.111153  ...  39.030085  40.218162  36.048981
5   36.919247  38.236822  48.281959  ...  34.049833  38.729977  38.865900
6   40.855225  36.119624  50.527941  ...  34.217584  39.903238  41.193478
7   30.951651  43.369262  33.250579  ...  37.878677  43.442077  37.163840
8   30.504552  40.390579  52.823880  ...  37.006071  41.975612  35.201011
9   26.441380  33.228509  34.851651  ...  34.001037  37.796689  35.783162
10  17.759153  32.075233  54.546280  ...  37.047734  34.627713  32.198422
11  37.714073  30.686893  22.775535  ...  32.018362  37.838632  44.810317

           41         42         43         50         51         52  \
1   33.260985  35.954942  33.850510  30.973179  21.621245  38.335756
2   33.916330  35.127218  34.995300  25.225045  29.253789  29.767530
3   37.326926  36.552646  37.389423  31.353656  26.336778  36.989863
4   36.250255  38.194819  32.431409  37.118718  26.164446  27.930806
5   38.016569  34.339025  37.282146  39.892036  37.699046  32.347939
6   38.565842  37.382641  35.972213  38.605836  32.960281  32.164178
7   33.201148  34.871088  30.902429  31.653549  36.394516  26.010081
8   34.339015  35.666865  38.096560  29.656398  30.025367  31.974578
9   33.032176  36.324852  31.273940  31.731424  25.026250  34.104904
10  36.295700  30.033354  38.181697  31.217598  35.061912  41.235357
11  33.268344  35.696441  37.713880  32.488411  39.699952  26.060178

           53
1   50.898050
2   36.996565
3   35.893588
4   41.893377
5   43.838662
6   40.235427
7   33.546829
8   35.646454
9   36.688471
10  33.738271
11  39.860339

[11 rows x 28 columns]

In [25]:
women_management_positions_T['time'] = women_management_positions_T['time'].astype(int)
print(women_management_positions_T)

    time         11         12         13         14         15         16  \
1   2012  43.487173  33.942964  34.120948  42.515398  39.150864  37.275340
2   2013  35.340815  29.972713  40.718761  37.404516  43.409605  46.184251
3   2014  24.730905  35.563843  36.343138  45.547232  39.554166  44.990506
4   2015  25.904610  29.339595  27.268711  43.384372  39.739653  32.082029
5   2016  47.228701  48.399742  28.994381  24.341227  34.574333  43.427425
6   2017  39.774461  38.598752  39.982321  44.518213  34.868778  48.258054
7   2018  36.739934  39.177364  45.775539  49.189932  38.303176  58.688613
8   2019  36.653098  45.524902  35.825811  47.021883  36.429617  38.518285
9   2020  30.641986  37.239920  29.553964  47.217166  39.942057  42.907687
10  2021  25.541754  36.632933  38.897396  48.739479  44.630696  58.024414
11  2022  30.445105  58.554567  37.952609  38.841404  39.034529  51.496043

           17         21         22  ...         32         33         35  \
1   27.262036  39.310885  41.874341  ...  35.095340  38.192025  37.644238
2   32.747157  39.417118  35.865145  ...  33.827249  40.787501  38.657521
3   32.151620  35.417776  34.130205  ...  34.355781  45.333847  33.673065
4   30.612721  36.201972  50.111153  ...  39.030085  40.218162  36.048981
5   36.919247  38.236822  48.281959  ...  34.049833  38.729977  38.865900
6   40.855225  36.119624  50.527941  ...  34.217584  39.903238  41.193478
7   30.951651  43.369262  33.250579  ...  37.878677  43.442077  37.163840
8   30.504552  40.390579  52.823880  ...  37.006071  41.975612  35.201011
9   26.441380  33.228509  34.851651  ...  34.001037  37.796689  35.783162
10  17.759153  32.075233  54.546280  ...  37.047734  34.627713  32.198422
11  37.714073  30.686893  22.775535  ...  32.018362  37.838632  44.810317

           41         42         43         50         51         52  \
1   33.260985  35.954942  33.850510  30.973179  21.621245  38.335756
2   33.916330  35.127218  34.995300  25.225045  29.253789  29.767530
3   37.326926  36.552646  37.389423  31.353656  26.336778  36.989863
4   36.250255  38.194819  32.431409  37.118718  26.164446  27.930806
5   38.016569  34.339025  37.282146  39.892036  37.699046  32.347939
6   38.565842  37.382641  35.972213  38.605836  32.960281  32.164178
7   33.201148  34.871088  30.902429  31.653549  36.394516  26.010081
8   34.339015  35.666865  38.096560  29.656398  30.025367  31.974578
9   33.032176  36.324852  31.273940  31.731424  25.026250  34.104904
10  36.295700  30.033354  38.181697  31.217598  35.061912  41.235357
11  33.268344  35.696441  37.713880  32.488411  39.699952  26.060178

           53
1   50.898050
2   36.996565
3   35.893588
4   41.893377
5   43.838662
6   40.235427
7   33.546829
8   35.646454
9   36.688471
10  33.738271
11  39.860339

[11 rows x 28 columns]

In [26]:
women_management_positions_T.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 1 to 11
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11 non-null     int64
 1   11      11 non-null     float64
 2   12      11 non-null     float64
 3   13      11 non-null     float64
 4   14      11 non-null     float64
 5   15      11 non-null     float64
 6   16      11 non-null     float64
 7   17      11 non-null     float64
 8   21      11 non-null     float64
 9   22      11 non-null     float64
 10  23      11 non-null     float64
 11  24      11 non-null     float64
 12  25      11 non-null     float64
 13  26      11 non-null     float64
 14  27      11 non-null     float64
 15  28      11 non-null     float64
 16  29      11 non-null     float64
 17  31      11 non-null     float64
 18  32      11 non-null     float64
 19  33      11 non-null     float64
 20  35      11 non-null     float64
 21  41      11 non-null     float64
 22  42      11 non-null     float64
 23  43      11 non-null     float64
 24  50      11 non-null     float64
 25  51      11 non-null     float64
 26  52      11 non-null     float64
 27  53      11 non-null     float64
dtypes: float64(27), int64(1)
memory usage: 2.5 KB

In [27]:
women_management_positions = women_management_positions_T
women_management_positions.to_csv('women_management_positions.csv')